*{box-sizing:border-box;}
*{list-style: none;}

.container {
  width:100%;
  max-width: 1024px;
  padding: 0px 15px;

  margin: 0 auto;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  /* positionプロパティをfixedに、topを0に指定してください */
  position:fixed;
  top:0px;
  z-index:10;
}
.header-left {
  float: left;
}
.header-left p {
  color:white;
  margin:20px 0px;
}
.header-right {
  float: right;
  background-color: rgba(255, 255, 255, 0.3);
  transition: all 0.5s;
}
.header-right:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  text-decoration: none;
}

.top-wrapper{
  width:100%;
  height:900px;
  margin:0 auto;
  background-image:url(top.jpg);
  background-size:cover;
  text-align: center;
}
.container h1{
  padding:410px 0px;
  opacity: 0.8;
  color:white;
  font-size: 30px;
}

.aboutus-wrapper {
  height: 200px;
  padding:50px 0px 00px 0px;
  background-color:white;
  text-align: center;
}
.aboutus p{
  border-bottom:1px solid #333;
  font-size:17px;
  padding-bottom:20px;
  margin:40px 25% 10px 25%;
}

.introduce-wrapper{
  height:1000px;
}
.geomagicdesignx-wrapper img{
  margin:80px 0px;
}
.introduce-right{
  float:right;
  width:60%;
  text-align: center;
}
.introduce-right p{
  font-size: 15px;
  line-height: 35px;
  padding-right:20%;
}
.introduce-left{
  float:left;
  width:40%;
  text-align: center;
}
.introduce-left h2{
  font-size: 25px;
  line-height: 100px;
}

.faq-wrapper{
  text-align: center;
}
.heading h2{
  padding-bottom: 50px;
}
.heading p{
  padding-bottom: 10px;
  border-bottom:1px solid #333;
  margin:40px 25% 0px 25%;
}
.faq-list-item {
  margin:10px;
  border-bottom:1px solid #ccc;
  position:relative;
  cursor:pointer;
  text-align: left;
}
.faq-list-item h3 {
  font-size: 14px;
}
.faq-list-item span {
  position:absolute;
  top:0;
  right:5px;
  color:#ccc;
  font-size:18px;
}
.answer {
  font-size: 12px;
  display: none;
  padding: 5px 0px;
  margin-bottom: 15px;
}

.product-introduce-wrapper{
  height: 1100px;
  padding-top:100px;
  text-align: center;
}
.product-introduce-wrapper img{
  margin:0px;
}
.product-introduce-wrapper h2{
  font-size:50px;
  margin-top:0px;
}
.product-introduce-wrapper p{
  font-size:18px;
  line-height: 40px;
}

.decisive-factor-wrapper{
  height:250px;
  padding-top:100px;
  text-align: center;
}
.decisive-factor-wrapper p{
  border-bottom:1px solid #333;
  font-size:17px;
  padding-bottom:15px;
  margin:40px 25% 0px 25%;
}
.decisive-factor-wrapper h3{
  font-size: 25px;
  margin-top:18px;
}

.factor1-wrapper {
  height:460px;
  text-align: center;
  padding-top:100px;
}
.factor1-left{
  float:left;
  width:50%;
  padding-top:30px;
  text-align: center;
}
.factor1-left h2{
  font-size: 20px;
}
.factor1-left p{
  font-size: 13px;
  color: #696969;
  line-height: 30px;
  padding:30px 10%;
}
.factor1-right{
  float:right;
  width:50%;
}
.factor1-right img{
  margin: 40px 0px;
}

.factor2-wrapper {
  height:460px;
  padding-top:100px;
  text-align: center;
}
.factor2-right{
  float:right;
  width:50%;
  padding-top:30px;
  text-align: center;
}
.factor2-right h2{
  font-size: 20px;
}
.factor2-right p{
  font-size: 13px;
  color: #696969;
  line-height: 30px;
  padding:30px 10%;
}
.factor2-left{
  float:left;
  width:50%;
}
.factor2-left img{
  margin: 40px 0px;
}

.factor3-wrapper {
  height:460px;
  text-align: center;
  padding-top:100px;
}
.factor3-left{
  float:left;
  width:50%;
  padding-top:30px;
  text-align: center;
}
.factor3-left h2{
  font-size: 20px;
}
.factor3-left p{
  font-size: 13px;
  color: #696969;
  line-height: 30px;
  padding:30px 10%;
}
.factor3-right{
  float:right;
  width:50%;
}
.factor3-right img{
  margin: 40px 0px;
}

.factor4-wrapper {
  height:460px;
  padding-top:100px;
  text-align: center;
}
.factor4-right{
  float:right;
  width:50%;
  padding-top:30px;
  text-align: center;
}
.factor4-right h2{
  font-size: 20px;
}
.factor4-right p{
  font-size: 13px;
  color: #696969;
  line-height: 30px;
  padding:30px 10%;
}
.factor4-left{
  float:left;
  width:50%;
}
.factor4-left img{
  margin: 40px 0px;
}

.slide-wrapper {
  text-align: center;
  width: 1000px;
  margin: 0 auto;
  color: #5e6f84;
  padding: 60px 0;
}
.slide-wrapper p{
  border-bottom:1px solid black;
  font-size:15px;
  padding-bottom:15px;
  margin:40px 25% 0px 25%;
  color:black;
}
.slide-title {
  font-size: 25px;
  margin-bottom: 30px;
  color:black;
}
.change-btn-wrapper {
  width: 500px;
  margin: 20px auto;
  font-size: 12px;
}
.change-btn-wrapper:after {
  content: "";
  clear: both;
  display: block;
}
.prev-btn {
  cursor: pointer;
  float: left;
  display: none;
}
.next-btn {
  cursor: pointer;
  float: right;
}
.slides {
  padding: 0;
}
.slide {
  display: none;
}
.active {
  display: block;
}
.slide img {
  width: 800px;
  height: auto;
  border-radius: 5px;
  margin:0px;
}
.index-btn-wrapper {
  font-size: 16px;
  margin-top: 20px;
}
.index-btn {
  display: inline-block;
  color: black;
  background-color: #c0c0c0;
  width: 20px;
  padding: 0px ;
  margin: 0 5px;
  border-radius: 4px;
  cursor: pointer;
}
.index-btn:hover {
  color: #fff;
  background-color: #dcdcdc;
}

.environment-wrapper{
  height: 600px;
  background-image:url(back.jpg);
  background-size:cover;
  text-align: center;
  color:white;
  opacity: 0.8;
}
.environment-text h2{
  padding-top:40px;
}
.environment-text h3{
  font-size: 18px;
  line-height: 0px;
  padding-top: 20px;

}

.form-wrapper{
  height: 1000px;
  text-align: center;
}
.form-wrapper a{
  color:white;
}
.form{
  margin:100px 150px;
  padding-bottom:50px;

  border-radius: 5px;
  background-color: rgba(10,10,10, 0.8);
  transition: all 0.5s;
  color:white;
}
.form:hover {
  background-color: rgba(10,10,10, 0.8);
}
.form p {

  padding:30px 0px 10px 0px;
  color: white;
  display: block;
  border-bottom:none
}
.form-700{
  display: none;
}

.vision-wrapper{
  width:100%;
  height:500px;
  margin:0 auto;
  background-image:url(bitcoinIMGL9843_TP_V.jpg);
  background-size:cover;
  text-align: center;
}
.vision-text{
    padding-top:200px;
}
.vision-text h2{
  opacity: 0.8;
  color:white;
  font-size: 30px;
}

footer {
  height:45px;
  padding-top:0px;
  background-color:#333;
}
footer a{
  float:right;
  padding:10px 30px;
  color:white;
}
